<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Cv3.css">
</head>
<body>
    <div id="half">
<div id="name">
       <center> <%= fname %> <%= lname %></center></div>
    <!-- <div id="contact"> -->
        <a id="contact" href="mailto:<%= email %>" target="_blank"><p id="email"><%= email %></p></a>
         <p id="contact"> 
             <pre><%= tel %></p></pre> </p>
         <br.>

          <pre>
            <%= loc %>
        </pre>
    
         <!-- <hr> <hr> -->
    </div>
    
         <!-- <div id="omo">
         <u><h3>Summary</h3></u>
         <p>Kelly Blackwellis a software engineer,who hopes to broaden her skills in programming an coding alike.</p>
         </div> -->
    <!-- <hr> <hr> --> 
   
    <!-- <div class="zoo "> -->
        <!-- <div id=""> -->
       <u> <h3>Education</h3></u>
       <pre><%= text %></pre>
            <hr> <hr>
        
        
       
    <!-- </div> -->
       <u> <h3>Projects</h3></u>
       <pre>
        <%= project %>
    </pre>
        </p>
        <hr>
        <hr>
        
       <u> <h3>Experience</h3></u>
       <pre><%= status %></pre>
            <hr>
            <hr>
         </div>
    
<div id="lol">
            <u><h3>Technical Skills</h3></u>
           
            <pre><%= message %></pre>
            <hr>
            <hr>
            <br>
            
    
           <u> <h3>Hobbies</h3></u>
    
           <pre>
            <%= hobby %>
        </pre>
            <hr>
            <hr>
            <!-- <br> -->
            
            <u><h3>References</h3></u>
           <pre><%= ref %></pre>
    
    </div>


    
          
    
</body>
</html>


