<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Cv4.css">
</head>
<body>
    <!-- <div class="center"> -->
    <!-- <div id="header"> -->
        <p id="name"><%= fname %> <%= lname %></p>
        <a href="mailto:<%= email %>" target="_blank"><p id="email"><%= email %></p></a>
    <div id="header">
        <pre>
            <%= tel %>
        </pre>
         <br.>
         <pre>
            <%= loc %>
        </pre>
         <br>
         <hr>
    </div>
   
    <div id="ryy">
        <h3>Education</h3>
        <pre><%= text %></pre>
    </div>

    <div id="left1">
        <h3>Projects</h3>
        <pre>
            <%= project %>
        </pre>
        <!-- <hr> -->
    </div>
    <!-- <div id="right"> -->
        <div id="left2">
        <h3>Experience</h3>
        <pre><%= status %></pre>
            <!-- <hr><br> -->
        </div>
    
        <div id="right">
            <h3>Technical Skills</h3>
            <pre><%= message %></pre>
        </div>
            <!-- <hr><br> -->

           
            </div>
    <div id="right2">
            <h3>Hobbies</h3>
           <pre> <%= hobby %></pre>
            <!-- <hr> -->
            
    </div>

            <div id="left3">
                <h3>References</h3> 
               <pre><%= ref %></pre>
           
            
    
            </div>
    <!-- </div> -->

    
          
    
</body>
</html>

