<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Cv.css">
</head>
<body>
    <div class="center">
    <div id="header">
        <p id="name"><%= fname %> <%= lname %></p>
        <a href="mailto:<%= email %>" target="_blank"><p id="email"><%= email %></p></a>
        <pre><p><%= tel %></p></pre>
         <br.>
         <pre><p><%= loc %></p></pre>
         <hr>
         <br>
   
   <div id="left">
        <h3>Education</h3>
       <p><pre><%= text %></pre></p>
        <br><hr>

        <h3>Projects</h3>
         <pre><p><%= project %></p></pre>
    </div>
</div>
   
    <div id="right">
        <h3>Experience</h3>
        
       <p> <pre><%= status %></pre></p>
            <hr><br>
    

            <h3>Technical Skills</h3>
            <p><pre><%= message %></pre></p>
            <hr>
    
            <h3>Hobbies</h3>
    
           
            <pre><p><%= hobby %></p> </pre><hr>
          
            <br>
            <p id="ref"><h3>References</h3></p>
            <pre><%= ref %></pre>
        
            <br>
            
    
</div>
    

    
          
    
</body>
</html>


