<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Cv2.css">
</head>
<body>

    <div id="header">
        <div id="frot">
        <u><p><%= fname %> <%= lname %></p></u></div>
    <div id="contact">
        <a href="mailto:<%= email %>" target="_blank"><p id="email"><%= email %></p></a>
        <pre><%= tel %></pre>
         <br.>
         <pre> <%= loc %> </pre>
    </div>
    </div>
   
    <!-- <div class="zoo "> -->
        <div id="omo">
        <h3>Education</h3>
        <pre><%= text %></pre>
        <br><hr>
        </div>    

        <h3>Projects</h3>
        <pre><p><%= project %></p></pre>
        <hr>
    <!-- </div> -->
    <!-- <div id="right"> -->
        <h3>Experience</h3>
        <pre><%= status %></pre>
            <hr>
    

            <h3>Technical Skills</h3>
            <pre><%= message %></pre>
            <hr>
    
            <h3>Hobbies</h3>
            <pre><p><%= hobby %></p></pre>
            <hr>
            
            <h3>References</h3>
            <pre><p><%= ref %></p> </pre>
            <hr>
<!-- </div> -->
    <!-- </div> -->
</body>
</html>


