<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Cv4.css">
</head>
<body>
    <!-- <div class="center"> -->
    <!-- <div id="header"> -->
        <p id="name"><%= fname %> <%= lname %></p>
        <div id="header">
        <a href="mailto:<%= email %>" target="_blank"><%= email %></p></a>
        <pre>
            <%= tel %>
        </pre>
         <br.>
         <pre>
            <%= loc %> </pre>
         <br>
         <hr>
         <hr>
    </div>
   
    <div id="ryy">
       <u><h3>Education</h3></u> 
        <pre><%= text %></pre>
        <hr><hr>
    

        <u><h3>Projects</h3></u> 
        <pre><%= project %></pre>
        <hr>
    
        <u></u> <h3>Experience</h3></u> 
        <pre><%= status %></pre>
            <hr><br>
    
    
    
            <u></u> <h3>Technical Skills</h3></u> 
            <pre><%= message %></pre>
            <hr><br>

           
        
    
            <u><h3>Hobbies</h3></u> 
           <pre> <%= hobby %></pre>
            <hr>
            
            <u> <h3>References</h3> </u> 
               <pre><%= ref %></pre>
           
            
    
    </div>
    <!-- </div> -->

    
          
    
</body>
</html>

